@page
@using MelodyCircle.ExtensionMethods
@model ConfirmEmailModel
@{
    ViewData["Title"] = @Html.Translate("LB_CONFIRMEMAIL");
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
