@page
@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @Html.Translate("LB_FORGOTTENPASSWORD?");
}

<section class="bg-lightPurple p-2 p-sm-2 p-md-3 p-lg-5 rounded-3 text-center text-white">
    <h1>@Html.Translate("LB_CONFIRMRECOVERPASSWORD")</h1>
    <p class="fs-md-3">
        @Html.Translate("LB_VERIFYRECOVERPASSWORD")
    </p>
    <div class="text-center">
        <a asp-page="./" asp-route-returnUrl="" class="w-75 mt-2 btn btn-lg bg-purple text-white">@Html.Translate("LB_HOMEPAGE")</a>
    </div>
</section>

