@page
@using MelodyCircle.ExtensionMethods
@model ForgotPasswordModel
@{
    ViewData["Title"] = @Html.Translate("LB_FORGOTTENPASSWORD?");
}

@* <h1>@ViewData["Title"]</h1> *@
<div class="row">
    <div class="col-md-4 mx-auto">
        <section class="bg-lightPurple p-2 p-sm-2 p-md-3 p-lg-5 rounded-3">
            <h2 class="text-white text-center mb-3">@Html.Translate("LB_RECOVERPASSWORD")</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3 text-center">
                    <label asp-for="Input.Email" class="form-label text-white fs-md-4 fs-lg-4"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@email.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg bg-purple text-white">@Html.Translate("LB_CONFIRM")</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
