@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="bg-lightPurple p-2 p-sm-2 p-md-3 p-lg-5 rounded-3 text-center text-white">
    <h1>Confirmação da recuperação de palavra-passe</h1>
    <p class="fs-md-3">
        Verifique o seu e-mail para recuperar a sua palavra-passe.
    </p>
    <div class="text-center">
        <a asp-page="./" asp-route-returnUrl="" class="w-75 mt-2 btn btn-lg bg-purple text-white">Página Principal</a>
    </div>
</section>

