@page
@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @Html.Translate("LB_RESETPASSWORD");
}

<section class="bg-lightPurple p-2 p-sm-2 p-md-3 p-lg-5 rounded-3 text-center text-white">
    <h1>@Html.Translate("LB_CONFIRMRESETPASSWORD")</h1>
    <p class="fs-md-3">
        @Html.Translate("LB_PASSWORDWASRESET")
    </p>
    <div class="text-center">
        <a asp-page="./login" asp-route-returnUrl="" class="w-75 mt-2 btn btn-lg bg-purple text-white">@Html.Translate("LB_LOGIN")</a>
    </div>
</section>