@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <section class="bg-lightPurple p-2 p-sm-2 p-md-3 p-lg-5 rounded-3">
            <h1 class="text-center text-white">Restabelecer palavra-passe</h1>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="mb-3 text-center">
                    <label asp-for="Input.Email" class="form-label text-white"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@email.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3 text-center">
                    <label asp-for="Input.Password" class="form-label text-white">Palavra-passe</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Inserir palavra-passe." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3 text-center">
                    <label asp-for="Input.ConfirmPassword" class="form-label text-white">Comfirmar palavra-passe</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar palavra-passe" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg bg-purple text-white">Confirmar</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
