@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="bg-lightPurple p-2 p-sm-2 p-md-3 p-lg-5 rounded-3 text-center text-white">
    <h1>Confirmação do restabelecimento de palavra-passe</h1>
    <p class="fs-md-3">
        A sua palavra-passe foi restabelecida.
    </p>
    <div class="text-center">
        <a asp-page="./login" asp-route-returnUrl="" class="w-75 mt-2 btn btn-lg bg-purple text-white">Login</a>
    </div>
</section>