@model MelodyCircle.Models.Tutorial

@{
    ViewData["Title"] = "Editar Tutorial";
}

<div class="row justify-content-center">
    <div class="col-sm-6 bg-white rounded-3 border border-purple">
        <div class="text-end">
            <button type="button" class="btn btn-sm bg-darkPurple text-white rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
                    title="<p>Pode editar o título e a descrição do tutorial.</p>">
                ?
            </button>
        </div>
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="form-group text-center mt-3">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <label asp-for="Title" class="control-label "></label>
                <input asp-for="Title" class="form-control border-purple" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control border-purple" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <label for="Photo" class="control-label border-purple">Foto</label>
                <input type="file" class="control-label border-purple" id="Photo" name="photo">
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group text-center my-3">
                <input type="submit" value="Guardar" class="btn bg-purple text-white" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-controller="Tutorial">Voltar à lista de Tutoriais</a>
</div>