@model MelodyCircle.Models.Step

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Tem a certeza que pretende eliminar este Passo?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" asp-route-stepid="@Model.Id">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" asp-controller="Step" class="btn btn-default">Cancelar</a>
        </div>
    </form>
</div>