@using System.Security.Claims
@using MelodyCircle.ExtensionMethods
@using Microsoft.AspNetCore.Identity
@using MelodyCircle.Data
@model IEnumerable<ForumPost>

@inject UserManager<User> UserManager
@inject ApplicationDbContext Context


@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
    <script>
        let stepDivs = document.getElementsByName("stepDiv");
        let stepData = [];

        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                @:stepData.push(@Html.Raw(item.Content));
            }
        }
        var quill = new Quill('#editor');

        for (let cnt = 0; cnt < stepData.length; cnt++) {
            stepDivs[cnt].innerHTML = convertToHtml(quill, stepData[cnt]);
        }

        function convertToHtml(editor, contents) {
            editor.setContents(contents);
            return editor.root.innerHTML;
        }

        document.addEventListener("DOMContentLoaded", () => {
            const target = document.getElementById('getPartial');
            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        let lastId = document.getElementById("content-container").lastElementChild.getAttribute("data-tutorial-id");
                        $.ajax({
                            url: 'Forum/Posts',
                            type: 'GET',
                            data: {
                                lastId: lastId
                            },
                            success: function (response) {
                                $('#content-container').append(response);
                                console.log(response);
                            },
                            error: function () {
                                console.error('Failed to fetch the HTML');
                            }
                        });
                    }
                });
            }, {
                root: null, // assuming the viewport is the root
                rootMargin: '0px',
                threshold: 0.1 // Adjust this value based on when you want to trigger the load
            });

            observer.observe(target);
        });
    </script>

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet" />
}


    <h1 class="text-center">@Html.Translate("LB_WELCOME")</h1>

@if (Model != null && Model.Any())
{
    <div class="d-flex flex-wrap justify-content-center" id="content-container">
        @await Html.PartialAsync("../Forum/_PostsPartial", Model)
    </div>
    @* <button id="getPartial" class="d-flex justify-content-center btn bg-purple text-white my-2">Ver partials</button> *@
    <div id="getPartial"></div>
}


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin") | User.IsInRole("Mod"))
    {
        //<a class="btn bg-purple text-white rounded-circle floating-button" href="/Home/Create" data-bs-toggle="modal" data-bs-target="#addMusicModal">+</a>
        <a href="@Url.Action("Create", "Forum")" class="btn bg-purple text-white rounded-circle floating-button">+</a>
    }
    <input type="hidden" id="editor" name="editor" value="" />
}



<div class="text-end">
    <button type="button" class="btn btn-sm bg-darkPurple text-white rounded-circle floating-button-left" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
            title="<p>Esta página é destinada para os Fóruns criados debater temas através dos comentários dos utilizadores    </p>">
        ?
    </button>
</div>