@using Microsoft.AspNetCore.Identity
@using MelodyCircle.Data;
@model List<Collaboration>
@inject UserManager<User> UserManager
@inject ApplicationDbContext Context

<form asp-action="Search" method="post" class="text-center mx-auto w-50 d-flex justify-content-center align-items-center">

    <select name="searchType" class="border-purple rounded bg-white p-1 text-center">
        <option value="None">Nenhum filtro</option>
        <option value="User">Artista</option>
        <option value="Tutorial">Tutorial</option>
        <option value="Collaboration">Colaboração</option>
    </select>
    <input type="text" name="searchTerm" placeholder="Pesquisar" class="border-purple rounded p-1 w-50" />
    <button type="submit" class="border-0 bg-lightBlue"><img src="~/img/iconprocurar.svg" /></button>
</form>

<h2 class="text-center mb-4">Collaboration Search Results</h2>

@if (Model != null && Model.Any())
{
    @foreach (var collab in Model)
    {
        <div class=" text-center border-purple bg-white p-4 mx-auto mb-4 w-50 justify-content-center align-items-center">
            <h4>@collab.Title</h4>
                <form method="post" action="@Url.Action("JoinQueue", "Collaboration", new { id = collab.Id })">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn bg-purple text-white">Entrar</button>
                </form>
        </div>

    }
}
else
{
    <p>Nenhuma colaboração encontrada</p>
}