@model List<Collaboration>

<form asp-action="Search" method="post" class="text-center mx-auto w-50 d-flex justify-content-center align-items-center">
    <input type="text" name="searchTerm" placeholder="Pesquisar" class="border-0 rounded p-1 w-50" />
    <select name="searchType" class="border-0 bg-lightBlue p-1">
        <option value="None">Nenhum filtro</option>
        <option value="User">Utilizador</option>
        <option value="Tutorial">Tutorial</option>
        <option value="Collaboration">Colaboração</option>
    </select>
    <button type="submit" class="border-0 bg-lightBlue"><img src="~/img/iconprocurar.svg" /></button>
</form>

<h2 class="text-center mb-4">Collaboration Search Results</h2>

@if (Model != null && Model.Any())
{
    @foreach (var collab in Model)
    {
        <div class=" text-center border-purple bg-white p-4 mx-auto mb-4 w-50 justify-content-center align-items-center">
            <h4>@collab.Title</h4>
        </div>
    }
}
else
{
    <p>Nenhuma colaboração encontrada</p>
}