@model IEnumerable<Tutorial>

<form asp-action="Search" method="post" class="text-center mx-auto w-50 d-flex justify-content-center align-items-center">

    <select name="searchType" class="border-purple rounded bg-white p-1 text-center">
        <option value="None">Nenhum filtro</option>
        <option value="User">Artista</option>
        <option value="Tutorial">Tutorial</option>
        <option value="Collaboration">Colaboração</option>
    </select>
    <input type="text" name="searchTerm" placeholder="Pesquisar" class="border-purple rounded p-1 w-50" />
    <button type="submit" class="border-0 bg-lightBlue"><img src="~/img/iconprocurar.svg" /></button>
</form>

<h2 class="text-center mb-4">Tutorial Search Results</h2>

@if (Model != null && Model.Any())
{
    @foreach (var tutorial in Model)
    {
        <div class=" text-center border-purple bg-white p-4 mx-auto mb-4 w-50 justify-content-center align-items-center">
            <h4><a asp-action="Index" asp-controller="Step" asp-route-tutorialId="@tutorial.Id">@tutorial.Title</a></h4>
            <a asp-action="SubscribeConfirmation" asp-controller="SubscribeTutorial" asp-route-tutorialId="@tutorial.Id">Inscrever-se</a>
            <p>@tutorial.Description</p>
        </div>
    }
}
else
{
    <p>Nenhum tutorial encontrado</p>
}