<div class="chat" id="chatWindow">
    <!-- Messages will be displayed here -->
</div>
<div class="text-center">
    <input type="text" class="form-control my-2 mx-auto" id="messageInput" />
    <button class="btn bg-purple text-white w-50 pt-2 d-block mx-auto" id="sendButton">Enviar</button>
</div>

    <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            function scrollToBottom() {
                const chatWindow = document.getElementById("chatWindow");
                chatWindow.scrollTop = 0;
            }

        
            var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub?collaborationId=@Model.Id").build();

            connection.on("ReceiveMessage", function (userName, message, timestamp) {
                var msg = document.createElement("div");
                msg.className = "mb-2 bg-purple text-white rounded"
                var chatWindow = document.getElementById("chatWindow");
                msg.innerHTML =
                    `
                        <div class="user">${userName}</div>
                        <div class="text">${message}</div>
                        <div class="timestamp">${dateFns.format(new Date(timestamp), "dd-MM-yyyy hh:mm.ss")}</div>
                    `;
                chatWindow.prepend(msg);
                scrollToBottom();
            
            });

            connection.on("ReceiveMessageHistory", function (messages) {
                var chatWindow = document.getElementById("chatWindow");
                chatWindow.innerHTML = '';

                messages.forEach(function (message) {
                    var msg = document.createElement("div");
                    msg.className = "mb-2 p-2 bg-darkPurple text-white rounded"
                    msg.innerHTML =
                        `
                            <div class="">${message.userName}</div>
                            <div class="">${message.messageText}</div>
                            <div class="timestamp">${dateFns.format(new Date(message.timestamp), "dd/MM/yyyy hh:mm.ss")}</div>
                        `;
                    chatWindow.prepend(msg);
                    scrollToBottom();
                });

            
            });

            connection.start().then(function () {
                connection.invoke("LoadMessageHistory", "@Model.Id").catch(function (err) {
                    return console.error(err.toString());
                });
                document.getElementById("sendButton").disabled = false;
            }).catch(function (err) {
                return console.error(err.toString());
            });

            document.getElementById("sendButton").addEventListener("click", function (event) {
                var message = document.getElementById("messageInput").value;
                connection.invoke("SendMessage", "@Model.Id", message).catch(function (err) {
                    return console.error(err.toString());
                });
                document.getElementById("messageInput").value = '';
                event.preventDefault();
            });
        });
    </script>







<style>
    .message {
        margin-bottom: 10px;
    }

    .user {
        font-weight: bold;
    }

    .timestamp {
        font-size: 0.8em;
    }

    .chat {
        max-height: 11rem;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column-reverse
    }
</style>