@model IEnumerable<MelodyCircle.Models.Collaboration>
@{
    ViewData["Title"] = "Collaboration";
}

<div class="container">
    <h1>List of Collaborations</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collaboration in Model)
            {
                <tr>
                    <td>@collaboration.Title</td>
                </tr>
            }
        </tbody>
    </table>
</div>
