@{
    ViewData["Title"] = "Post Fechado";
}

<h1>Post Fechado com Sucesso</h1>

<p>O post foi fechado com sucesso!</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Voltar para a Página Inicial</a>