@{
    var monthsAndYears = ViewBag.MonthsAndYears as IEnumerable<string>;
    var collaborationCounts = ViewBag.StepsCounts as IEnumerable<int>;
}

<h1>@ViewBag.UserName Collaboration Creation Stats</h1>

<canvas id="collaborationCreationChart" width="800" height="400"></canvas>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var ctx = document.getElementById('collaborationCreationChart').getContext('2d');
        var monthsAndYears = @Html.Raw(Json.Serialize(monthsAndYears));
        var collaborationCounts = @Html.Raw(Json.Serialize(collaborationCounts));

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: monthsAndYears,
                datasets: [{
                    label: 'New Collaborations',
                    data: collaborationCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}