@using MelodyCircle.ExtensionMethods
@{
    var monthsAndYears = ViewBag.MonthsAndYears as IEnumerable<string>;
    var tutorialCounts = ViewBag.TutorialCounts as IEnumerable<int>;
}


<div class="container text-center border-purple bg-white p-5 mx-auto w-50 row d-flex justify-content-center align-items-center">
    <h1> @Html.Translate("LB_USERCREATIONTUTOSTATS") - @ViewBag.UserName</h1>

    <div class="w-100">
        <canvas id="tutorialCreationChart" width="800" height="400"></canvas>
    </div>
</div>


@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var ctx = document.getElementById('tutorialCreationChart').getContext('2d');
        var monthsAndYears = @Html.Raw(Json.Serialize(monthsAndYears));
        var tutorialCounts = @Html.Raw(Json.Serialize(tutorialCounts));

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: monthsAndYears,
                datasets: [{
                    label: 'New Tutorials',
                    data: tutorialCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}