@page
@model LanguageModel
@{
    ViewData["Title"] = "Língua";
    ViewData["ActivePage"] = ManageNavPages.Language;
}

<h4 class="text-white ">@ViewData["Title"]</h4>


	<div class="col-md-6">
		<p>Pode colocar o site me Português ou Inglês.</p>
		<form id="pt-pt" asp-page-handler="ChangeLanguage" method="post">
			<input type="hidden" name="culture" value="pt-PT" />
			<button class="w-100 mt-2 btn bg-purple text-white" type="submit">Português</button>
		</form>

		<form id="en-us" asp-page-handler="ChangeLanguage" method="post">
			<input type="hidden" name="culture" value="en-US" />
			<button class="w-100 mt-2 btn bg-purple text-white" type="submit">Inglês</button>
		</form>
	</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

