:root {
  --darkPurple: #7752fe;
  --purple: #8e8ffa;
  --lightBlue: #c2d9ff;
}

* {
  font-family: "Lexend", serif !important;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  scrollbar-width: none;
}

.unselectable {
  user-select: none;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  background-color: var(--lightBlue) !important;
}

/* -------------------------------------------- */

.bg-darkPurple {
  background-color: var(--darkPurple) !important;
}

.text-darkPurple {
  color: var(--darkPurple) !important;
}

.border-darkPurple {
  border-color: var(--darkPurple) !important;
  border-width: 2px !important;
  border-style: solid !important;
}

/* -------------------------------------------- */

.bg-purple {
  background-color: var(--purple) !important;
}

.text-purple {
  color: var(--darkPurple) !important;
}

.text-purple2 {
  color: var(--purple) !important;
}

.border-purple {
  border-color: var(--purple) !important;
  border-width: 2px !important;
  border-style: solid !important;
}

/* -------------------------------------------- */

.bg-lightPurple {
  background-color: var(--lightPurple) !important;
}

.text-lightPurple {
  color: var(--lightPurple) !important;
}

.border-lightPurple {
  border-color: var(--lightPurple) !important;
  border-width: 2px !important;
  border-style: solid !important;
}

.btn-lightPurple {
  background-color: var(--lightPurple) !important;
  color: white !important;
}

/* -------------------------------------------- */

.bg-lightBlue {
  background-color: var(--lightBlue) !important;
}

.text-lightBlue {
  color: var(--lightBlue) !important;
}

.border-lightBlue {
  border-color: var(--lightBlue) !important;
  border-width: 2px !important;
  border-style: solid !important;
}

.foto {
  height: 100px;
  width: 100px;
  padding: 0px;
}
.custom-file-input {
  display: none; /* Esconde o bot�o padr�o de sele��o de arquivos */
}

.profile-link {
  text-decoration: none; /* Remove underline */
  color: black; /* Change color */
}

/* Style for when the hyperlink is hovered */
.profile-link:hover {
  text-decoration: none; /* Remove underline on hover */
  color: blue; /* Change color on hover */
}

.floating-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 40px;
  width: 40px;
}

.floating-button-left {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  height: 40px;
  width: 40px;
}

.floating-button-center {
  position: fixed;
  bottom: 1.5rem;
  right: 0;
  left: 0;
  margin-inline: auto;
  height: 40px;
  width: fit-content;
}

.fill-purple {
  fill: var(--purple) !important;
}

.fill-lightBlue {
  fill: var(--lightBlue) !important;
}

.fill-white {
  fill: #ffffff !important;
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-toggle:focus {
  background-color: white; /* Cor quando o bot�o � clicado */
  color: #fff; /* Cor do texto quando o bot�o � clicado */
}

.active {
  /* Adicione os estilos desejados para o background e fill dos �cones quando o bot�o dropdown est� ativado */
  background-color: #ffffff; /* exemplo de cor de fundo branca */
  fill: #000000; /* exemplo de cor de preenchimento preta */
}

.selected {
  background-color: var(--purple) !important;
  color: white !important;
}

.removeSelection {
  selection: none;
}

.addStepButton {
  height: 20px;
  width: 20px;
}

.sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li strong {
    font-weight: bold;
}

/* PAINEL DE ARRANJO */

#arrangement-panel {
    padding: 10px;
}

#instrument-menu {
    border-right: solid 1px #ccc;
    height: 100vh;
}

.instrument {
    margin: 5px;
    padding: 5px;
    background-color: var(--purple);
    color: white;
    border: 1px solid #ccc;
    cursor: grab;
    border-radius: 10px;
}

.upload-button {
    background-color: var(--darkPurple);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.drop-area {
    width: 1053px;
    height: 97px;
    border: 2px dashed #ccc;
    position: relative;
}

.track-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 50px;
}

.timeline {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 0px;
    top: 50px;
    left: 0px;
}

.track {
    border: 1px solid #ccc;
    height: 100px;
    background-color: #f8f9fa;
    margin-top: 25px;
    width: 1055px;
    margin-bottom: 5px;
}

.time-marker {
    flex: 1;
    position: relative;
    text-align: center;
}

.time-marker::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #ddd;
}

.time-marker span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
}

.track-number {
    position: absolute;
    top: 50px;
    left: -2.5%;
    font-weight: bold;
    background-color: #fff;
    padding: 2px 5px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--lightBlue);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 30px;
}

.tooltip {
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 255;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.instrument-on-track {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border: 2px solid #000;
    background-color: var(--darkPurple);
    color: white;
    text-align: left;
    line-height: 50px;
    margin-top: 5px;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold
}

.instrument-on-track span {
    display: inline-block;
    padding: 0px;
}

.timeline {
    display: flex;
    position: absolute;
    width: 100%;
    height: 20px;
}

.timeMarker {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.playback-line {
    position: absolute;
    margin-top: 27px;
    margin-left: 50px;
    height: 100%;
    width: 2px;
    background-color: red;
    display: none;
    z-index: 1;
}

.arrangement-container {
    position: relative;
    width: 100%;
}

.marker-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

/* Custom CSS for modal positioning */
.modal-dialog-bottom-right {
    position: fixed;
    bottom: 20px; /* Adjust this value to change the distance from the bottom */
    right: 20px; /* Adjust this value to change the distance from the right */
    margin: 0;
    width: 400px; /* Adjust the width as needed */
}

/* Style for the chat component trigger button */
#chatComponentButton {
    position: fixed;
    bottom: 20px; /* Adjust this value to change the distance from the bottom */
    right: 20px; /* Adjust this value to change the distance from the right */
    z-index: 1051; /* Ensure the button stays above the modal backdrop */
}

/* FINAL DO PAINEL DE ARRANJO */