:root {
    --darkPurple: #7752FE;
    --purple: #8E8FFA;
    --lightBlue: #C2D9FF;
}

* {
    font-family: 'Lexend', serif !important;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
  margin-bottom: 60px;
  background-color: var(--lightBlue) !important;
}

/* -------------------------------------------- */

.bg-darkPurple {
    background-color: var(--darkPurple) !important;
}

.text-darkPurple {
    color: var(--darkPurple) !important;
}

.border-darkPurple {
    border-color: var(--darkPurple) !important;
    border-width: 2px !important;
    border-style: solid !important;
}

/* -------------------------------------------- */

.bg-purple {
    background-color: var(--purple) !important;
}

.text-purple {
    color: var(--darkPurple) !important;
    
}

.border-purple {
    border-color: var(--purple) !important;
    border-width: 2px !important;
    border-style: solid !important;
}

/* -------------------------------------------- */

.bg-lightPurple {
    background-color: var(--lightPurple) !important;
}

.text-lightPurple {
    color: var(--lightPurple) !important;
}

.border-lightPurple {
    border-color: var(--lightPurple) !important;
    border-width: 2px !important;
    border-style: solid !important;
}

/* -------------------------------------------- */

.bg-lightBlue {
    background-color: var(--lightBlue) !important;
}

.text-lightBlue {
    color: var(--lightBlue) !important;
}

.border-lightBlue {
    border-color: var(--lightBlue) !important;
    border-width: 2px !important;
    border-style: solid !important;
}

.foto {
    height: 100px;
    width: 100px;
    padding: 0px;
}
.custom-file-input {
    display: none; /* Esconde o botão padrão de seleção de arquivos */
}

.profile-link {
    text-decoration: none; /* Remove underline */
    color: black; /* Change color */
}

    /* Style for when the hyperlink is hovered */
    .profile-link:hover {
        text-decoration: none; /* Remove underline on hover */
        color: blue; /* Change color on hover */
    }
